In [1]:
import pandas as pd

In [2]:
book = pd.read_csv("books.csv")
book.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [4]:
df = pd.DataFrame(book, columns=['book_id', 'authors', 'original_title', 'average_rating'])

In [5]:
book_data = pd.merge(df, ratings, on="book_id")

In [6]:
book_data.head()

,book_id,authors,original_title,average_rating,user_id,rating
0,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,4.44,314,3
1,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,4.44,588,1
2,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,4.44,2077,2
3,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,4.44,2487,3
4,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,4.44,2900,3

In [7]:
book_data.isnull().sum()

book_id              0
authors              0
original_title    1781
average_rating       0
user_id              0
rating               0
dtype: int64

In [8]:
book_data = book_data.dropna()

In [9]:
book_data.isnull().sum()

book_id           0
authors           0
original_title    0
average_rating    0
user_id           0
rating            0
dtype: int64

In [10]:
userRatings = book_data.pivot_table(index=["user_id"],columns=['original_title'],values ='rating', fill_value=0)
userRatings.head()

original_title,,Animal Farm & 1984,Carter Beats the Devil,The Fellowship of the Ring,"めくらやなぎと、眠る女 [Mekurayanagi to, nemuru onna]",'Salem's Lot The Illustrated Edition,'Tis: A Memoir,1421: The Year China Discovered America,1776,31 Songs,...,Ἰλιάς ; Ὀδύσσεια,Ἰστορίαι,Ὀδύσσεια,Ὀρέστεια,…trotzdem Ja zum Leben sagen: Ein Psychologe erlebt das Konzentrationslager,スプートニクの恋人 [Supūtoniku no Koibito],海辺のカフカ [Umibe no Kafuka],砂の女 [Suna no onna],象の消滅 [Zō no shōmetsu],鋼の錬金術師 1
user_id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0.0,0,0,0,0,0,...,0,0,0,5,0,0,0,0,0,0
9,0,0,0,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
def standarize(row):
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row
df_std = userRatings.apply(standarize).T
df_std.head()

user_id,2,3,4,7,9,10,11,14,15,20,...,53404,53406,53408,53409,53416,53419,53420,53422,53423,53424
original_title,,,,,,,,,,,,,,,,,,,,,
,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,...,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416,-0.002416
Animal Farm & 1984,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,...,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634,-0.002634
Carter Beats the Devil,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,...,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026,-0.003026
The Fellowship of the Ring,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,...,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933,-0.001933
"めくらやなぎと、眠る女 [Mekurayanagi to, nemuru onna]",-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,...,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490,-0.002490

In [12]:
corr_mat = userRatings.corr(method="pearson")
corr_mat.head()

original_title,,Animal Farm & 1984,Carter Beats the Devil,The Fellowship of the Ring,"めくらやなぎと、眠る女 [Mekurayanagi to, nemuru onna]",'Salem's Lot The Illustrated Edition,'Tis: A Memoir,1421: The Year China Discovered America,1776,31 Songs,...,Ἰλιάς ; Ὀδύσσεια,Ἰστορίαι,Ὀδύσσεια,Ὀρέστεια,…trotzdem Ja zum Leben sagen: Ein Psychologe erlebt das Konzentrationslager,スプートニクの恋人 [Supūtoniku no Koibito],海辺のカフカ [Umibe no Kafuka],砂の女 [Suna no onna],象の消滅 [Zō no shōmetsu],鋼の錬金術師 1
original_title,,,,,,,,,,,,,,,,,,,,,
,1.000000,-0.003226,-0.003282,-0.002929,-0.003190,-0.002741,-0.003237,-0.003216,-0.003253,-0.003235,...,-0.003205,0.010106,-0.003191,-0.003251,-0.003246,-0.003237,-0.003265,-0.003200,-0.003068,0.009124
Animal Farm & 1984,-0.003226,1.000000,-0.003355,-0.002995,-0.003261,-0.002802,0.006308,-0.003288,-0.003325,-0.003308,...,0.005664,-0.003256,-0.003262,-0.003323,-0.003319,-0.003309,0.003703,-0.003272,-0.003136,0.003627
Carter Beats the Devil,-0.003282,-0.003355,1.000000,0.003519,0.006550,-0.002850,-0.003366,-0.003344,-0.003382,-0.003364,...,-0.003333,-0.003312,0.016673,-0.003380,0.005396,-0.003366,0.019977,-0.003328,-0.003190,-0.003414
The Fellowship of the Ring,-0.002929,-0.002995,0.003519,1.000000,-0.002961,-0.002544,-0.003005,0.018109,0.035126,0.013546,...,0.039413,0.011607,0.021682,0.006880,-0.003013,-0.003004,-0.003030,-0.002970,-0.002847,0.011347
"めくらやなぎと、眠る女 [Mekurayanagi to, nemuru onna]",-0.003190,-0.003261,0.006550,-0.002961,1.000000,-0.002770,-0.003272,-0.003251,-0.003287,-0.003270,...,0.013121,-0.003219,-0.003225,-0.003286,-0.003281,-0.003272,-0.003300,-0.003234,-0.003101,0.006418

In [13]:
def similar(book_name,rating):
    similar_rating = corr_mat[book_name]*(rating-2.5)
    similar_rating = similar_rating.sort_values(ascending=False)
    return similar_rating

In [14]:
user1 = [("Salamandastron", 2), ('The Path Between the Seas: The Creation of the Panama Canal, 1870-1914', 5)
         ,("Harry Potter and the Philosopher's Stone",5)]

In [15]:
#book_list = list(set(book_data.original_title))

In [16]:
def recommended_book(book_list):
    similar_books = pd.DataFrame()
    for book, rating in book_list:
        similar_books = similar_books.append(similar(book, rating), ignore_index=True)
    print("You may like this:\n")
    recommended = similar_books.sum().sort_values(ascending=False).head(10)
    print(recommended)

In [17]:
recommended_book(user1)

You may like this:

Harry Potter and the Philosopher's Stone                                  2.493860
The Path Between the Seas: The Creation of the Panama Canal, 1870-1914    2.485298
Harry Potter and the Order of the Phoenix                                 1.290253
Harry Potter Collection (Harry Potter, #1-6)                              1.273889
Harry Potter and the Half-Blood Prince                                    1.262427
The Lord of the Rings                                                     1.254171
The Hitchhiker's Guide to the Galaxy                                      1.209532
The Lord of the Rings: Weapons and Warfare                                1.182947
The Ultimate Hitchhiker's Guide: Five Complete Novels and One Story       1.121585
Heidi                                                                     1.018554
dtype: float64